
USE [FATURAODEME]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ABONE_EKLE]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_ABONE_EKLE] 
(
	@tc varchar(11),
	@adsoyad varchar(30),
	@dogtarih varchar(10),
	@tel varchar(11),
	@adres varchar(50),
	@cinsiyet varchar(5),
	@aboneturu varchar(8)
	
)
AS
BEGIN
	INSERT INTO ABONE VALUES 	
	(
	@tc,
	@adsoyad,
	@dogtarih,
	@tel,
	@adres,
	@cinsiyet,
	@aboneturu
	)	
END
GO
/****** Object:  Table [dbo].[ABONE]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ABONE](
	[ABONENO] [bigint] IDENTITY(1234567,3) NOT NULL,
	[TCKIMLIKNO] [varchar](11) NOT NULL,
	[ADSOYAD] [varchar](30) NULL,
	[DOGTAR] [varchar](10) NULL,
	[TEL] [varchar](11) NULL,
	[ADRES] [varchar](50) NULL,
	[CINSIYET] [varchar](5) NULL,
	[ABONETURU] [varchar](8) NULL,
 CONSTRAINT [PK_ABONE] PRIMARY KEY CLUSTERED 
(
	[ABONENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TCKIMLIKNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOGALGAZ_FATURA_BILGILERI]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOGALGAZ_FATURA_BILGILERI](
	[ABONENO] [bigint] NULL,
	[FATURANO] [varchar](7) NULL,
	[FATURABEDELI] [money] NULL,
	[FATURATARIHI] [date] NULL,
	[SONODEMETARIHI] [date] NULL,
	[ODEMEDURUMU] [varchar](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[TCKIMLIKNO] [varchar](11) NOT NULL,
	[ADSOYAD] [varchar](30) NULL,
	[DOGTAR] [varchar](10) NULL,
	[TEL] [varchar](11) NULL,
	[ADRES] [varchar](50) NULL,
	[CINSIYET] [varchar](5) NULL,
	[SIFRE] [varchar](20) NULL,
UNIQUE NONCLUSTERED 
(
	[TCKIMLIKNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SILINEN_ABONELER]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SILINEN_ABONELER](
	[ID] [int] NULL,
	[ABONENO] [bigint] IDENTITY(1234567,3) NOT NULL,
	[TCKIMLIKNO] [varchar](11) NOT NULL,
	[ADSOYAD] [varchar](30) NULL,
	[DOGTAR] [varchar](10) NULL,
	[TEL] [varchar](11) NULL,
	[ADRES] [varchar](50) NULL,
	[CINSIYET] [varchar](5) NULL,
	[ABONETURU] [varchar](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SU_FATURA_BILGILERI]    Script Date: 22.7.2017 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SU_FATURA_BILGILERI](
	[ABONENO] [bigint] NULL,
	[FATURANO] [int] IDENTITY(1,1) NOT NULL,
	[FATURABEDELI] [money] NULL,
	[FATURATARIHI] [date] NULL,
	[SONODEMETARIHI] [date] NULL,
	[ODEMEDURUMU] [varchar](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DOGALGAZ_FATURA_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_DOGALGAZ_FATURA_BILGILERI_ABONE] FOREIGN KEY([ABONENO])
REFERENCES [dbo].[ABONE] ([ABONENO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOGALGAZ_FATURA_BILGILERI] CHECK CONSTRAINT [FK_DOGALGAZ_FATURA_BILGILERI_ABONE]
GO
ALTER TABLE [dbo].[SU_FATURA_BILGILERI]  WITH CHECK ADD  CONSTRAINT [FK_SU_FATURA_BILGILERI_ABONE] FOREIGN KEY([ABONENO])
REFERENCES [dbo].[ABONE] ([ABONENO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SU_FATURA_BILGILERI] CHECK CONSTRAINT [FK_SU_FATURA_BILGILERI_ABONE]
GO
